.blog-footer {
  box-sizing: border-box;
  height: 90px;
  padding: 2.5rem 0;
  color: #999;
  text-align: center;
  background-color: #f9f9f9;
  border-top: 0.05rem solid #e5e5e5;
}
.inicio {
  min-height: calc(100vh - 91px);
}
.signup {
  width: 400px;
}
